h1 {
	color: white;
	font-family: "Franklin Gothic Medium";
}

h2 {
	color: white;
}

nav {
	color: white;
}

body {
	background-color: black;
}

.title {
	text-align: center;
}

.main {
	margin-left: 10%;
	line-height: 0px;
    background-color: rgba(255,255,255,0.8);
    height: 50px;
    width: 1400px;
    border-radius: 18px;
    color: white;
    font-family: "Franklin Gothic Medium";
    font-size: 28px;
    line-height: 48px;
    text-align: center;
}

.l1 {
	margin-left: 10%;
	padding-left: 40px;
	margin-top: 28px;
	display: block;
	float: left;
	border-radius: 18px;
	background-color: rgba(255,255,255,0.8);
	height: 300px;
    width: 580px;
}

.poem {
	margin-left: 1%;
	margin-top: 28px;
	display: block;
	float: left;
	border-radius: 18px;
	background-color: rgba(221,160,221,0.8);
	height: 300px;
    width: 105px;
    font-family: "Franklin Gothic Medium";
    font-size: 24px;
    color: #FFEFD5;
    padding-left: 15px;
}

.l2 {
	padding-left: 40px;
	margin-left: 1%;
	margin-top: 28px;
	display: block;
	float: left;
	border-radius: 18px;
	background-color: rgba(255,255,255,0.8);
	height: 300px;
    width: 580px;
}
