body {	
	background: linear-gradient(-45deg, #98F898, #90EE90);	
	margin: 5%;
	padding: 0;
}

h1 {
	color: DimGray;
}

p {
  line-height: 1.3em;
  text-align: left;
  width: 100%;
  font-family: "Corbel Light";
  font-size: 18px;
  font-weight: 100;
}

ul {
  opacity: 0.5;
}

h3 {
  font-family: "Franklin Gothic Medium";
  font-size: 20px;
}

img {
  max-width: 100%;
}

#name {
  letter-spacing: 2px;
  font-style: bold !important;
  color: red;
  text-transform: uppercase;
}

#major {
	text-align: center;
}

.title {
  margin-left: 40px;
}

.titleone {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  line-height: 14px;
  margin-left: 40px;
  padding: 10px;
  position: relative;
  top: 80%;
  width: 60%;
  background-color: white;
  color: black;
  opacity: 0.75;
}

.titletwo {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  line-height: 14px;
  margin-left: 40px;
  padding: 10px;
  position: relative;
  top: 80%;
  width: 60%;
  background-color: white;
  color: black;
  opacity: 0.75;
}

.titlethree {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  line-height: 14px;
  margin-left: 40px;
  padding: 10px;
  position: relative;
  top: 80%;
  width: 60%;
  background-color: white;
  color: black;
  opacity: 0.75;
}